/* src/styles/global.css */

:root {
  --header-height: 72px; /* 导航栏高度 */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-content {
  flex: 1;
}

.page-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
